<h1>链接</h1>
<ul>
	<li><a href="/">主页面</a></li>
	<li><a href="/static/c.html">介绍页面</a></li>
	<li><a href="/static/re.htm">注册页面</a></li>
	<li><a href="/static/add.htm">修改记录页面</a></li>
	<li><a href="/static/visit.htm">访问页面</a></li>
	<li><a href="/static/r.html">注册邮箱页面</a></li>
	<li><a href="/static/regrl.html">注册公网访问的域名的页面</a></li>
	<li><a href="/static/visit.html">访问与读取公网链接公网访问域名的页面</a></li>
	<li><a href="/static/a.exe" download>点击下载a.exe</a></li>
</ul>
<h1>教学页面</h1>
<ol>
    <li><a href="/static/a.html">a.html</a></li>
    <li><a href="/static/b.html">b.html</a></li>
</ol>